Django==5.0
djangorestframework==3.16.0
django-cors-headers==4.7.0
whitenoise==6.9.0
dj-database-url
gunicorn
bcrypt
cryptography
paramiko
PyNaCl
pycryptodome
python-nmap
pysnmp
yt-dlp
ffmpeg
numpy
pandas
dj-database-url
whitenoise
